apiVersion: batch/v1
kind: Job
metadata:
  name: thesis-metrics-job
spec:
  template:
    spec:
      containers:
      - name: thesis-app
        image: ghcr.io/omargudi/proyect_thesis:latest
        command: ["python", "-m", "app.main"]
        env:
        - name: ANALYSIS_PATH
          value: "/data/Detect_Lines"
        - name: OUTPUT_DIR
          value: "/output"
        volumeMounts:
        - name: output-volume
          mountPath: /output
      volumes:
      - name: output-volume
        emptyDir: {}
      restartPolicy: Never
  backoffLimit: 2