name: Test
on: 
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Steup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Run Script
        run: python Detect_Lines/Github_Actions/Test.py

      - name: Commit and Push Changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Test Hello world
          commit_user_name: OmarGudi [GitHub Actions]
          commit_user_email: sanchezgudi1618@gmail.com
          comiit_author: OmarGudi
